<style>
/* FOR DEBUGGING 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(70, 34, 34, 0.7),rgba(8, 0, 0, 0.7)),url(https://drive.google.com/uc?export=view&id=13KYcftNM6ZaghKOw1C--13ZdrWP61Kdm);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 500px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:  30px;   
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 6px;
    background: #6b1b15;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.info{
    color: #fff;
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 15px;
}
.info p2{
    text-align: left;
    color: rgb(112, 112, 191);
    font-weight: bolder;
}

.text-box{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 10%;
}
.text-box h1{
    font-size: 60px;
    text-decoration: underline;
    text-underline-position: auto;
    text-underline-offset: 3px;
}
.text-box p{
    width: 50%;
    transform: translate(47%,0%);
    margin:  10px 0 40px;
    font-size: 20px;
    color: #fff;
    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: linear-gradient(rgba(70, 34, 34, 0.7),rgba(8, 0, 0, 0.7));
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    color:red;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .text-box p{
        font-size: 15px;
    }
    .hero-btn{
        font-size: 15px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li a{
        font-size: 20px;
    }
    .nav-links{
        position: absolute;
        background: #6b1b15;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav img{
        width: 300px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
}

/* SANCTION LEADERBOARD */
.sanctions{
    text-align: center;
    align-items: center;
    padding-top: 50px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
table, th, td{
  margin-left:auto;
  margin-right:auto;
  border:1px solid black;
}

</style>
